@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,100&display=swap');

:root{
    --font-fammily: 'Montserrat', sans-serif;
    --primary-color:#FC7300;
    --bg-color:#00425A;
}

body{
    background-color: var(--bg-color);
    color: var(--primary-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    font-family:  var(--font-fammily);
}

h1{
    color: black;
    font-size: 6em;
    margin-bottom: 20px;
}

h2{
    font-size: 4em;
}

h3{
    font-size: 4em;
    margin-bottom: 20px;
}

.mensagem{
    font-size: 1.5em;
    margin-top: 30px;
}

.disse{
    margin-left: 90px;
}


.box{
    border:2px solid var(--primary-color);
    display: inline-block;
    font-size: 4em;
    padding: 10px;
    margin: 20px;
    margin-left: 90px;
}

.btn-jogar{
    padding: 8px 15px;
    border: 0;
    background-color: whitesmoke;
    border-radius: 7px;
    margin-top: 20px;
}